# Environnements virtuels
venv/
.venv/

# Fichiers de compilation Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Fichiers de configuration locaux
.env

# Fichiers générés
reports/
*.csv
*.log

# Base de données locale
app.db*

# Fichiers utilisateurs (CV et lettres de motivation)
upload_cv_lm_utilisateur/

